<a href="https://colab.research.google.com/github/2303A52103/AIML_2303A52103/blob/main/Lab01_AIML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part 1 – Implement Basic Data Structures using Numpy, Pandas
1. Lists
2. Arrays
3. Identify their type using type()
4. Perform mathematical operations on these datasets created - multiplication, division,
poweroff
5. Combine text with Numpy fuction to generate a textual output - ”Addition of Two:
array1 +array 2
6. Implement np.sin(), log(), log2(), np.exp())

In [18]:
import numpy as np
l1=[1,2,3,4]
arr1 = np.array(l1)
print(arr1)

[1 2 3 4]

In [14]:
type(l1)

list

In [19]:
type(arr1)

numpy.ndarray

In [20]:
l2=[4,3,2,1]
arr2=np.array(l2)
print(arr2)

[4 3 2 1]

In [22]:
print("multiplication: ",arr1*arr2)
print("division: ",arr2/arr1)
print("poweroff: ",arr2**arr1)

multiplication:  [4 6 6 4]
division:  [4.         1.5        0.66666667 0.25      ]
poweroff:  [4 9 8 1]

In [23]:
print("Sine: ",np.sin(arr1))
print("Natural logarithm: ",np.log(arr1))
print("Base-10 logarithm: ",np.log10(arr1))
print("Base-2 logarithm: ",np.log2(arr1))
print("Exponential: ",np.exp(arr1))

Sine:  [ 0.84147098  0.90929743  0.14112001 -0.7568025 ]
Natural logarithm:  [0.         0.69314718 1.09861229 1.38629436]
Base-10 logarithm:  [0.         0.30103    0.47712125 0.60205999]
Base-2 logarithm:  [0.        1.        1.5849625 2.       ]
Exponential:  [ 2.71828183  7.3890561  20.08553692 54.59815003]

In [25]:
print("Add both two numpy arrays {arr1} and {arr2} :", arr1 + arr2)

Add both two numpy arrays {arr1} and {arr2} : [5 5 5 5]